.system {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

    i {
      transition: color 0.2s;
    }

    button:hover i {
      color: var(--white);
    }
  }
}
