@import url("//db.onlinewebfonts.com/c/a52dd81eed59f38717c2e681311adfb2?family=Aire+Exterior");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

@import "./base/zeroing.scss";
@import "./base/vars.scss";

@import "./blocks/title.scss";

@import "./blocks/promo.scss";
@import "./blocks/about.scss";
